src/mVMC/bak/*
src/make_back1.sys
*.out
sample_maxime/
makefile
Makefile
make.sys
*backup*
*cisajs*.dat
*Time*
*.swp
*.a
*.aux
*.bbl
*.blg
*.dSYM/
*.dvi
*.log
*.o
*.so
*.optrpt
*.synctex.gz
*.toc
*~
*build*
#*
html/
GPATH
GRTAGS
GTAGS
.idea
.DS_Store
doc/userguide_en.pdf
doc/userguide_jp.pdf
doc/jp/userguide_jp.out
doc/jp/userguide_jp.pdf
doc/jp/userguide_jp.synctex
doc/en/userguide_en.out
doc/en/userguide_en.pdf
doc/en/userguide_en.synctex
src/ComplexUHF/UHF
tool/corplot
tool/greenr2k
*.mod
tool/fourier
doc/fourier/ja/_build/
doc/fourier/en/_build/
*.bak
cmake-build-debug
latex/
dvmc_gnuplot
dvmc_spectrum_2.py
dvmc_spectrum_parallel.py
dvmc_spectrum.py
initOhgoe.py
initOhgoe2.py
initOhgoe4.py
dvmc_speedup0.c

